<h2>Edit Plan subscription</h2>

<%= render "form.html", Map.put(assigns, :action, plan_subscription_path(@conn, :update, @plan_subscription)) %>

<span><%= link "Back", to: plan_subscription_path(@conn, :index) %></span>
