<h2>Edit Properties set</h2>

<%= render "form.html", Map.put(assigns, :action, property_set_path(@conn, :update, @property_set)) %>

<span><%= link "Back", to: property_set_path(@conn, :index) %></span>
