<h2>Edit Properties set</h2>

<%= render "form.html", Map.put(assigns, :action, properties_set_path(@conn, :update, @properties_set)) %>

<span><%= link "Back", to: properties_set_path(@conn, :index) %></span>
