<h2>Edit Resource permission</h2>

<%= render "form.html", Map.put(assigns, :action, resource_permission_path(@conn, :update, @resource_permission)) %>

<span><%= link "Back", to: resource_permission_path(@conn, :index) %></span>
