<h2>Show Organization</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @organization.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @organization.description %>
  </li>
</ul>

<span><%= link "Cancel", to: organization_path(@conn, :index) %></span>
<span><%= link "Edit", to: organization_path(@conn, :edit, @organization) %></span>
