<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pulap</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="icon" type="image/png" href="/images/logo_components_color_2x_web_48dp.png"> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-components-web@0.27.0/dist/material-components-web.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    </head>

    <body class="mdc-typography mdc-app">

        <%= mdc_toolbar %>
        <main role="main">
            <div class="mdc-toolbar-fixed-adjust">
                <div class="app-paragraph">
                    <%= mdc_snackbar message_text: get_flash(@conn, :info),
                        type: :info,
                        action_link: "/dashboard",
                        button_label: "Close" %>
                    <%= render @view_module, @view_template, assigns %>
                </div>
            </div>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/material-components-web@0.28.0/dist/material-components-web.js"></script>
        <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
        <script type="text/javascript">
            window.mdc.autoInit();
        </script>
    </body>
</html>
